<a href="https://colab.research.google.com/github/punyathorn/2190101-ISE-Comp-Prog-Summary/blob/main/Lecture_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Chapter 1**

#**1.2 String Number Print**

##**String**

* ### Use **either** double quotes " " or single quotes ' ' in pairs to indicate a string
* ### **Bad Example " ' or ' " leads to Syntax Error: See example line 3**

> ### Code

In [ ]:
"Python"
'Python'

In [ ]:
"Python' #Bad Example Syntax Error

##**Number**

* ### **Int (Integer)**
   1,
   123,
   -456

* ### **Float (With Decimal)**
   1.0,
   123.456,
   7.89E-15 (7.89x10^-15)

##**Plus Operator**

> ### String Concatenation

* #### Addition of strings
* #### Examples
```python
"Peter" + "Corp"
"11" + "12"
```

> #### Code

In [ ]:
print("Peter"+"Corp")
print("11"+"12")

PeterCorp
1112

> ### Number Addition (Int, Float)

* #### Addition of integers and integers or floats and floats
* #### Examples
```python
    1 + 1
    12.0 + 3.4
```

> #### Code

In [ ]:
print(1+1)
print(12.0+3.4)

2
15.4

> ### Bad Example (Type Error)

```python
   1 + "1"
```
> See example code below

In [ ]:
print(1+"1") #Bad Example Type Error

##**Print**

* ### `Code` | # *Output*
``` python
print("Hello") # Hello
print("Hello "+"World") # Hello World
print("Hello" + "World") # HelloWorld
print("Hello" + " "+ "World") # Hello World
print("Hello" + ","+ "World") # Hello,World
print("Hello", "World") # Hello World
print("a","b","c",1,2,3) # a b c 1 2 3
print("1+1=", (1+1)) # 1+1= 2
```

> ### Code

In [ ]:
print("Hello")
print("Hello "+"World")
print("Hello" + " "+ "World")
print("Hello" + ","+ "World")
print("Hello", "World")
print("a","b","c",1,2,3)
print("1+1=", (1+1))

Hello
Hello World
Hello World
Hello,World
Hello World
a b c 1 2 3
1+1= 2


##End of Lecture 1.1 Proceed to Lecture 1.2 down below
---

#**1.3 Variables**

*   ### **Named**
*   ### **Untyped (uncatagorized)**
*   ### **Can change types during run time**
>   ### `name = "Python"` assign the string value "Python" to the variable `name`
>   ### `lang = name` assign the value of variable `name` to that of variable `lang`


## `Code` | Explanation
> ### `a = 1`     | a = 1
> ### `b = 2`     | a = 1, b = 2
> ### `c = a`     | a = 1, b = 2, c = 1
> ### `d = c + b` | a = 1, b = 2, c = 1, d = 3
> ### `d = d + 5` | a = 1, b = 2, c = 1, d = 8

`Code`  | Explanation
-------------------|------------------
           `a = 1` | a = 1
           `b = 2` | a = 1, b = 2
           `c = a` | a = 1, b = 2, c = 1
       `d = c + b` | a = 1, b = 2, c = 1, d = 3
       `d = d + 5` | a = 1, b = 2, c = 1, d = 8

##Variable Names

*   ### Consists of Characters, Numbers, or _
*   ### Case-sensitive: Name â‰  name
*   ### Cannot start with numbers
*   ### Cannot be reserved words
### **Reserved Words**

```python
  and as assert break class
  continue def del elif else
  except exec finally for from
  global if import in is
  lambda nonlocal not or pass
  raise return try while with
  yield True False None
```

#**1.4 Basic Data Types**

* ## str texts
* ## int integers
* ## float floating-point numbers
* ## bool boolean
* ## list ordered-set (aka arrays)
>>>> ## `[0,1,1,2,3,5,8,13,21,34,55]`
>>>> ## `["MO","TU","WED","TH","FR"]`
>>>> ## `[6230012021, [1234,5678]]`
>>>> ## `[]`
##Example
```python
name = "Ryu" #str
aka = "Was Here" #str
hobbies = "Basketball" #str
shots = 99999999999999 #int
grade = 9.99 #float
is_friend = True #bool
favorite_num = [1,2,3,4,5,6,7,8,9] #list
subj = ["Phy","Cal","Phy Lab","Comm Eng"] #list
print("Name: ", name, aka)
print("Shots",shots)
print("Hobbies: ",hobbies, "or", hobbies[0:3:1])
print("First Subject",subj[0])
print("Second Subject",subj[1])
print("Third Subject",subj[2])
print("Fourth Subject",subj[3])
```

> ## Code

In [ ]:
name = "Ryu" #str
aka = "Was Here" #str
hobbies = "Basketball" #str
shots = 99999999999999 #int
grade = 9.99 #float
is_friend = True #bool
favorite_num = [1,2,3,4,5,6,7,8,9] #list
subj = ["Phy","Cal","Phy Lab","Comm Eng"] #list
print("Name: ", name, aka)
print("Shots",shots)
print("Hobbies: ",hobbies, "or", hobbies[0:3:1])
print("First Subject:",subj[0])
print("Second Subject:",subj[1])
print("Third Subject:",subj[2])
print("Fourth Subject:",subj[3])

Name:  Ryu Was Here
Shots 99999999999999
Hobbies:  Basketball or Bas
First Subject: Phy
Second Subject: Cal
Third Subject: Phy Lab
Fourth Subject: Comm Eng

#**1.5 Type Conversion**

* ## Most values can be typed or converted to string by using str
* ## Some values can be typed or converted to float or int
```python
s1 = "123"
s2 = "456"
n = int(s1) + int(s2) #579
f = float(s1) + float(s2) #579.0
print(s1+s2,n,f)
print(s1+s2+", "+str(n)+", "+str(f))
```
```python
a = int(1)
b = int(1.5)
c = int(1.9+0.5)
d = float(1)
e = float(1.1)
f = float(1.9)
g = float(1.9+0.5)
h = str("string")
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
```

> ## Code

In [ ]:
s1 = "123"
s2 = "456"
n = int(s1) + int(s2)
f = float(s1) + float(s2)
print(s1+s2,n,f)
print(s1+s2+", "+str(n)+", "+str(f))

123456 579 579.0
123456, 579, 579.0

In [ ]:
a = int(1)
b = int(1.5)
c = int(1.9+0.5)
d = float(1)
e = float(1.1)
f = float(1.9)
g = float(1.9+0.5)
h = str("string")
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

1
1
2
1.0
1.1
1.9
2.4
string

# **1.6 Python Input and Operators**

## Input

###Input - accepts entered key values as strings
###Usage - input()
```python
name = input()
print(name + " is very easy")
print("We use " + name + " in our class")
print("Hello " + name +".")
```
###Example after entering the word Python
```
Python
Python is very easy
We use Python in our class
Hello Python.
```

In [ ]:
name = input()
print(name + " is very easy")
print("We use " + name + " in our class")
print("Hello " + name +".")

Python
Python is very easy
We use Python in our class
Hello Python.

###Input as intergers or float

```python
x = input("Input a number")
i = int(x) # convert string to an integer
f = float(x) # convert string to float
```

In [ ]:
x = input("Input a number")
i = int(x) # convert string to an integer
f = float(x) # convert string to float

##Operators

###+ Addition
###- Subtraction
###* Multiplication
###/ Division
###// Rounded Division (No Decimal Points)
###** Exponent
###% Modulo (Remainder Division)
###= Assignment
```python
a = 5 + 2 # 7
b = 5 - 2 # 3
c = 5 * 2 # 10
d = 5 ** 2 # 25
e = 5 / 2 # 2.5
f = 5 // 2 # 2
g = 5 % 2 # 1
a, b, c = c, a, b # a = 10 b = 7 c = 3
a,b = b,a # exchange/switch the values of a and b
```
```python
a = float(input())
a = -a # change sign
b = int(a) # round "a" down
c = int(a+0.5) # round "a" up or down
d = a - int(a) # extract decimal points of "a"
d = a % 1 # same as the above
e = b % 10 # extract least significant digit of "b"
f = b // 10 % 10 # extract second to least sig. digit of "b"
g = b // 10**4 % 10 # fifth digit of "b"

h = input() # stores values as string
h = int(h) # converts and stores values of h to integer
```

### Code

In [ ]:
a = 5 + 2 # 7
b = 5 - 2 # 3
c = 5 * 2 # 10
d = 5 ** 2 # 25
e = 5 / 2 # 2.5
f = 5 // 2 # 2
g = 5 % 2 # 1
print(a, b, c, d, e, f, g)
a, b, c = c, a, b # a = 10 b = 7 c = 3
print(a, b, c, d, e, f, g)
a,b = b,a # exchange/switch the values of a and b
print(a, b, c, d, e, f, g)

7 3 10 25 2.5 2 1
10 7 3 25 2.5 2 1
7 10 3 25 2.5 2 1

In [ ]:
a = float(input())
a = -a # change sign
b = int(a) # round "a" down
c = int(a+0.5) # round "a" up or down
d = a - int(a) # extract decimal points of "a"
d = a % 1 # same as the above
e = b % 10 # extract least significant digit of "b"
f = b // 10 % 10 # extract second to least sig. digit of "b"
g = b // 10**4 % 10 # fifth digit of "b"

h = input() # stores values as string
h = int(h) # converts and stores values of h to integer.

1
1

###Exercise Celsius to Farenheit
### Input number as Celsius and output as Farenheit

In [ ]:
C = float(input("Celsius: "))
F = (C * 9/5) + 32
print("Farenheit: ", F)

Celsius: 100
Farenheit:  212.0

##Augmented Assignments

In [ ]:
a = 10
a = a + 5 # 15
a = a - 1 # 14
a = a * 2 # 28
a = a % 10 # 8
a = a ** 2 # 64
a = a // 10 # 6

In [ ]:
a = 10
a += 5 # 15
a -= 1 # 14
a *= 2 # 28
a %=10 # 8
a **= 2 # 64
a //= 10 # 6

# **1.7 Math Module and Functions**

In [ ]:
import math
degree = float(input())
radian = degree * 3.14159/ 180
radian = degree * math.pi / 180
radian = math.radians(degree)
s = math.sin(radian)
c = math.cos(radian)
t = math.tan(radian)
g = math.log( 1E100, 10)
print(degree, radian, s, c, t, g)

## Built In Functions

In [ ]:
a = abs(-2) # a = 2
b = round(2/3, 2) # b = 0.67
c = max([4,1,5,3]) # c = 5
d = min([4,1,5,3]) # d = 1
e = sum([4,1,5,3]) # e = 13
f = len([4,1,5,3]) # f = 4 number of elements
g = str(1234) # g = "1234"
h = int("1234") # h = 1234
i = float("-12.32") # i = -12.32
j = input()
print(a, b, c, d, e, f, g, h, i, j)

## Nesting Functions

In [ ]:
x1 = input()
x2 = int(x1)
x3 = abs(x2)
x4 = 1 + x3
x5 = str(x4)
print("x5 = "+ x5)
# or
print("x5 = " + str(1+abs(int(input()))))

-5
x5 = 6
-5
x5 = 6

# **1.8 Order of Precedence**

##Order of operators calculations follow
*   `( )`
*   `**`
*   `- (unary negate statement)`
*   `* / // %`
*   `+ -`
*   `left to right precedence when operators have the same precedence`

#1.9 Example and Exercises

In [ ]:
import math
radius = float(input())
area = math.pi * radius**2
circum = 2 * math.pi * radius
print("Area: ", area)
print("Circumference: ", circum)

4.5
Area:  63.61725123519331
Circumference:  28.274333882308138

In [ ]:
stu_id = int(input())
print("Student ID: ", stu_id)
fac_code = stu_id % 100
year_in = 2500 + stu_id // 10**8
deg_code = stu_id//10**7 % 10
print("Faculty Code: ", fac_code)
print("Enrollment Year: ", year_in)
print("Degree Code: ", deg_code)

6738158821
Student ID:  6738158821
Faculty Code:  21
Enrollment Year:  2567
Degree Code:  3

In [ ]:
sid = int(input())
d = sid // 10; print(d); sid //= 10
d = sid // 10; print(d); sid //= 10
d = sid // 10; print(d); sid //= 10
d = sid // 10; print(d); sid //= 10
d = sid // 10; print(d); sid //= 10
d = sid // 10; print(d); sid //= 10
d = sid // 10; print(d); sid //= 10
d = sid // 10; print(d); sid //= 10
d = sid // 10; print(d); sid //= 10

6738158821
673815882
67381588
6738158
673815
67381
6738
673
67
6