# **Nested Control Structures**

## Topics
* Nested while loops
* Nested for loops
* Breaking out of inner loops
* Nested lists
* Nexted lists as matrices
* List comprehension

##Exercise 9-1.1: Write a program to accept an integer ```N``` to display the multiplicaiton table from base 2 to ```N```, where the multiplier (column) is running from 1 to 5.  The picture below shows the expected result when the input is 10.  Please use 4 character-space for each table cell with the number in the cell being right-justified.  Feel free to use the function ```left_pad``` provided below, but otherwise use only the ``while`` structure(s) (NOT ```for```).

<img src="https://drive.google.com/uc?id=10WPsO9WN4beWfm5zEs5NDSzcY5B9QKKF&export=download" width="200px" />

In [ ]:
def left_pad(n, k):
    # convert n to a string of length k by adding space to the left
    # left_pad(12, 4) ได้ "  12"
    return (" "*k +str(n))[-k:]

N = int(input())

10

In [ ]:
for i in range(2,N+1):
  s = ''
  for j in range(1, 6):
    s += left_pad(i*j, 4)
  print(s)

   2   4   6   8  10
   3   6   9  12  15
   4   8  12  16  20
   5  10  15  20  25
   6  12  18  24  30
   7  14  21  28  35
   8  16  24  32  40
   9  18  27  36  45
  10  20  30  40  50

In [ ]:
N = int(input())
i = 2
while i <= N:
  s = ''
  j = 1
  while j <=5:
    s += left_pad(i*j, 4)
    j += 1
  i+=1
  print(s)

   2   4   6   8  10
   3   6   9  12  15
   4   8  12  16  20
   5  10  15  20  25
   6  12  18  24  30
   7  14  21  28  35
   8  16  24  32  40
   9  18  27  36  45
  10  20  30  40  50

##Exercise 9-1.2: Write a program to implement the flowchart below using only the ``while`` structure(s) (NOT ```for```):
<img src="https://drive.google.com/uc?id=1o6TlPIyuznMNZ4mCuTW1v6l5oVYFXAIn&export=download" width="800px" />

In [ ]:
N = int(input())


print(prime)

##Exercise 9-2.1: Write a program to read in school names to show all possible match-ups (one match per line) ordered alphabetically as shown in the following example.

Input: ```BCC, AC, DS, SK``` \\
Output:
```AC vs BCC``` \\
```AC vs DS``` \\
```AC vs SK``` \\
```BCC vs DS``` \\
```BCC vs SK``` \\
```DS vs SK```

In [ ]:
s = input().split(', ')
s.sort()
print(s)

BCC, AC, DS, SK
['AC', 'BCC', 'DS', 'SK']

In [ ]:
s = input().split(', ')
s.sort()
for i in range(len(s)):
  for j in range(i+1, len(s)):
    print(s[i] + ' vs ' + s[j])

BCC, AC, DS, SK
AC vs BCC
AC vs DS
AC vs SK
BCC vs DS
BCC vs SK
DS vs SK

In [ ]:
x=[0]*5

In [ ]:
x

[0, 0, 0, 0, 0]

In [ ]:
y = x

In [ ]:
y

[0, 0, 0, 0, 0]

In [ ]:
x[0] = 9

In [ ]:
y

[9, 0, 0, 0, 0]

In [ ]:
x = [[0]]*5

In [ ]:
x

[[0], [0], [0], [0], [0]]

In [ ]:
x[0][0] = 9

In [ ]:
x

[[9], [9], [9], [9], [9]]

In [ ]:
x = [[0]] * 5
x[0][0] = 10
print(x)

x = []
for i in range(5):
  x.append([0])
x[0][0] = 10
print(x)

[[10], [10], [10], [10], [10]]
[[10], [0], [0], [0], [0]]

In [ ]:
schools = input().split(', ')

schools.sort()
print(schools)
for i in range(len(schools)):
  for j in range(i+1):
    print(schools[i], schools[j])

BCC, AC, DS, SK
['AC', 'BCC', 'DS', 'SK']
AC AC
BCC AC
BCC BCC
DS AC
DS BCC
DS DS
SK AC
SK BCC
SK DS
SK SK

##Exercise 9-2.2: Redo Exercise 9-2.1 for the multiplication table but now using only the ```for``` loop only (not ```while```).

In [ ]:
def left_pad(n, k):
    # Convert n to a string of size k by appending the spaces to the right
    # left_pad(12, 4) = "  12"
    return (" "*k +str(n))[-k:]

N = int(input())

##Exercise 9-2.3: Repeat Exercise 9-1.2  but now using only the ``for`` structure(s) (NOT ```while```).

##Exercise 9-2.4: Write the function ```print_month(m, y)``` with the inputs being the month number and year (AD) that displays the calendar of the month in year with the first/last days of week being Sunday and Saturday. Feel free to use the given functions ```days_in_month```, ```day_of_week```. Example below shows the expected output of ```print_month(8, 2019)```:

<img src="https://drive.google.com/uc?id=1pqQkUqZ1SUIjc_XRz9rdYL3qm406on0P&export=download" width="400px" />

In [ ]:
def days_in_month(m, y):
    if m == 2:
        if y%400 or y%4==0 and y%100 != 0:
            return 29
        else:
            return 28
    elif m in [4,6,9,11]:
        return 30
    else:
        return 31
#-----------------------------------------
def day_of_week(d, m, y):
    # 0 -> Sunday, 1 -> Monday, ...
    if m < 3 :
        m += 12
        y -= 1
    c = y // 100
    k = y % 100
    w = (d+26*(m+1)//10+k+k//4+c//4+5*c)%7
    return (w-1) % 7
#-----------------------------------------
def print_month(m, y):
    print(" SU MO TU WE TH FR SA")

##Exercise 9-3.1: The given function ```count_digit(x, d)``` accepts ```x``` to be a list of integers and ```d``` to be a integer digit between 0-9.  The function will return all appearance of digit ```d``` in the list, e.g. ```count_digit([333, 23, 4], 3) = 3```, because there are 3 appearance of 4 in ```[333, 23, 4]```.  Please separate the ```while``` loop out as a function and implement it, so that ```count_digit``` still works the same.

In [ ]:
def count_digit(x, d):
    c = 0
    for n in x:
        while n > 0:
            if n%10 == d:
                c += 1
            n //= 10
    return c

##Exercise 9-3.2: Write the function ```longest_suffix(words)``` accepting ```words``` as a list of strings that returns the longest common suffix in all strings in the list, e.g., ```longest_suffix(["programming", "scramming", "Diagramming"])``` will return ```"ramming"```.

In [ ]:
def longest_suffix(words):

##Exercise 9-4.1: Write the function ```to_buckets(d)``` accepting ```d``` as a list of integers that returns a list of size 10, where the k-th item will be the list of all integers in ```d``` whose the least significant digit is ```k```, e.g.,

```to_buckets([33,21,143,33,11]) = [[], [21, 11], [], [33, 143, 33], [], [], [], [], [], []]```.

In [ ]:
def to_buckets(d):

##Exercise 9-4.2: Write the function ```read_points()``` that returns the list of all 2D floating coordinates in the form ```[[x0,y0], [x1,y1], ...]```,  from the inputs in the form ```x0:y0, x1:y1, ...```, e.g., ```1.0:2.4, 3:5, 6:9.0```.

In [ ]:
# input: 2:3, 4:4
# return: [[2.0, 3.0], [4.0, 4.0]]

def read_points():

##Exercise 9-4.3: Write the function ```all_closest_pairs(points)``` accepting ```points``` to be a list of all 2D flating coordinates that returns the list of all point pairs with the minimum distances in term of the index pairs of points in the input list ```points```, e.g.,

```all_closest_pairs([[30,30], [30,31], [31,30], [30,32]]) = [[0, 1], [0, 2], [1, 3]]```.

In [ ]:
def all_closest_pairs(points):

##Exercise 9-4.4:  Write a function ```to_dict(like_list)``` accepting the list of the form ```[[u1,u2], [u3,u4], ...]``` containing the list of who likes whom in a social media platform. The function has to create a dictionary in the form
```{user:``` list of all users the key user likes ```}```, e.g.,

```to_dict([['A', 'B'], ['A', 'C'], ['C', 'B']]) = {'A': ['B', 'C'], 'C': ['B']}```.

In [ ]:
def to_dict(like_list):

##Exercise 9-5.1: Write the function ```sum_all(M)``` accepting ```M``` as a nested list as a matrix, that returns the sum of all elements in the matrix.

In [ ]:
def sum_all(M):

##Exercise 9-5.2: Write the function ```sum_row(M)``` accepting ```M``` as a nested list as a matrix, that returns the list with the ```k```-th element being the sum of all matrix elements in the ```k```-th row.

In [ ]:
def sum_row(M):

##Exercise 9-5.3: Write the function ```sum_col(M)``` accepting ```M``` as a nested list as a matrix, that returns the list with the ```k```-th element being the sum of all matrix elements in the ```k```-th column.

In [ ]:
def sum_col(M):

##Exercise 9-5.4: Write the function ```identity(n)``` accepting an integer```n```, that returns a nested list representing the ```n``` by ```n``` identity matrix with 1 in all diagonal elements and zero otherwise.

In [ ]:
def identity(n):

##Exercise 9-5.5: Write the function ```transpose(M)``` accepting ```M``` as a nested list as a matrix, that returns the nested list representing the transpose (matrix) of ```M```.

In [ ]:
def transpose(M):

##Exercise 9-6.1: Write the following functions all accepting two lists of real numbers of the same size.  You must use list comprehension to implement all functions.

* ```add``: returns the addition of the two input lists as vectors.

* ```dot```: returns the dot product of the two input lists as vectors.

In [ ]:
def add(u,v):

def dot(u,v):

##Exercise 9-6.2: Write the following functions all accepting one list of integers. You must use list comprehension to implement all functions.

* ```to_list_of_strings(x)``: returns the list with all elements of the input list converted to strings, e.g., returning ```['1', '2', '3']``` for the input ```[1,2,3]```.

* ```get_positive(x)```: returns the list consisting only of positive elements in the input list (retaining their order), e.g., returning ```[1,9,3]``` for the input ```[0,1,0,-2,9,3,-4] ```.

* ```get_peak_indexes(x)```: returns the indinces of the input list with all elements in the input list, each of which is larger than the prior and subsequent elements in the input list, e.g., returning ```[2,5,8]``` for the input ```[0,1,9,3,4,99,3,4,6,0,9]```.

In [ ]:
def to_list_of_strings(x):

def get_positive(x):

def get_peak_indexes(x):

##Exercise 9-6.3: Redo Exercise 9-5.1 to 9-5.4 again but now using list comprehension.

In [ ]:
def sum_all(M):

def sum_row(M):

def sum_col(M):

def identity(n):

##Exercise 9-6.4: Use list comprehension to write a function accepting an input in the form ```Bank=Stock value, ...```, e.g., ```SCB=132.0, BBL=176.5, KBANK=172.0```, that returns individual lines each containing the bank code and its stock value, sorted alphabetically based on the bank codes.

##Exercise 9-6.5: Use list comprehension to write a function accepting an input in the form ```Bank=Stock value, ...```, e.g., ```SCB=132.0, BBL=176.5, KBANK=172.0```, that returns individual lines each containing the bank code and its stock value, sorted from the most to least valuable stocks. (Feel free to assume every input is such that none of its stock values are equal.

SyntaxError: unmatched ')' (<timeit-src>, line 2)

In [ ]:
def has_duplicate(x):
  for i in range(0, len(x)-1):
    for j in range(i+1, len(x)):
      print(i, j)
      if x[i] == x[j]:
        return True
  return False

In [ ]:
print(has_duplicate([11, 34, 22, 34]))

0 1
0 2
0 3
1 2
1 3
True