In [ ]:
print('Hello World')
print("Hello World")
print('Hello','World','!!!')
print('4+5','=',4+5)
print(4+5,4-5,4*5,4/5)

Hello World
Hello World
Hello World !!!
4+5 = 9
9 -1 20 0.8

In [ ]:
print('Hello World',end=':')
print("Hello World")
print('Hello','World','!!!')
print('4+5','=',4+5)
print(4+5,4-5,4*5,4/5)

Hello World:Hello World
Hello World !!!
4+5 = 9
9 -1 20 0.8

## Escape character

```
\n \t \' \" \\
```

In [ ]:
print('Let\'s do it')
print('It\'s \"Bob\"')
print('First line\nSecond line')
print('First line\n\tSecond line')
print('\\\\\\')
print(' \\\ x')
print('\d\c')

Let's do it
It's "Bob"
First line
Second line
First line
	Second line
\\\
 \\ x
\d\c

In [ ]:
print("Let's do it")
print('It is "Bob"')
print('''It's "Bob"''')
print('''First line
Second line''')

Let's do it
It is "Bob"
It's "Bob"
First line
Second line

In [ ]:
print('Hello  Python.')
print("We're using Python 3. ")

Hello  Python.
We're using Python 3.

### Mountain Valley

```
+------------------------------------------+
|................................/\........|
|.............................../##\.......|
|............................../####\......|
|............................./######\.....|
|............................/########\....|
|.......__................../##########\...|
|....../##\................/############\..|
|./\../####\......../\..../##############\.|
|/##\/######\....../##\../################\|
|############\..../####\/##################|
|#############\__/#########################|
+------------------------------------------+
```

In [ ]:
x=10
y=20
print(x+y,x-y,x*y,x/y)

30 -10 200 0.5

In [ ]:
s=input()
print('You entered',s)

That's it
You entered That's it

In [ ]:
x=input('Enter x: ')
y=input('Enter y: ')
print(x+y)

Enter x: 10
Enter y: 200
10200

In [ ]:
print('ba'+'na'+'na')

banana

In [ ]:
x=input('Enter x: ')
y=input('Enter y: ')
x=int(x)
y=int(y)
print(x+y)

Enter x: 10
Enter y: 200
210

In [ ]:
x=int(input('Enter x: '))
y=int(input('Enter y: '))
print(x+y,x-y,x*y,x/y)
print(x%y,x//y)

Enter x: 30
Enter y: 4
34 26 120 7.5

## Precedence

1. `-`
2. `**`
3. `*,/,%,//`
4. `+,-`

In [ ]:
print(2**-2) # print(2**(-2))
print(2**3**2,(2**3)**2)
print(1/2+1/2)
print(1//2+1//2)

0.25
512 64
1.0
0

In [ ]:
print('ba'+'na'+'na')
print('ba'+('na'+'na'))
print('ba'+2*'na')
print('ba'+5*'na')

banana
banana
banana
bananananana

### Exercise
Your ID contains 10 digits YYSXXXXXFC. Write a program to read an ID from the keyboard, convert to integer. Print the result as

```
YY S FC
```

For example

```
id=6432356721
```

The output must be

```
64 3 21
```

In [ ]:
id=6432356721
print(id//10**8,id//10**7%10,id%100 )

64 3 21

In [ ]:
import math

print(math.pi, math.e)
print(math.sqrt(2))
print(math.sin(math.pi/2))
print(math.cos(math.pi/2))
print(math.tan(math.pi/2))
print(math.exp(1))
print(math.exp(2))
print(math.factorial(5))

3.141592653589793 2.718281828459045
1.4142135623730951
1.0
6.123233995736766e-17
1.633123935319537e+16
2.718281828459045
7.38905609893065
120