# 08-Basic dict

## list vs dict

A `list` is a collection of items in particular order from left to right.  List uses integer number as an index to access the data.<br>

A `dict` is a collection of `key:value` pairs. Each `key` is connected to a `value`.

In [ ]:
grade = { } # []

grade["6231010621"] = "A"

In [ ]:
print(grade)

{'6231010621': 'A'}

In [ ]:
grade["6231010621"] = "B"

In [ ]:
print(grade)

{'6231010621': 'B'}

In [ ]:

s = input().strip().lower()
ac = {}

for c in s:
  if c not in ac:
    ac[c] = 1
  else:
    ac[c] +=1

for k,v in ac.items():
  print(k,v)

ABCabcABZ
a 3
b 3
c 2
z 1

In [ ]:
ordinal = {"first": 1, "second": 2, "third": 3, "fourth": 4, "fifth": 5, "sixth": 6,
           "seventh": 7, "eighth": 8,
           "ninth": 9, "tenth": 10 }

for key in sorted(ordinal.keys()):
    print(key, "-->", ordinal[key] )

eighth --> 8
fifth --> 5
first --> 1
fourth --> 4
ninth --> 9
second --> 2
seventh --> 7
sixth --> 6
tenth --> 10
third --> 3

In [ ]:
def average( d ):
  total = 0
  for key in d: # get values from all keys
      total += d[key]
  return total / len(d)

gpa = {"6130186221": 3.15, "6230221221": 2.85, "6231009821": 2.90, "6230543921": 3.20, "6230431521": 3.35, "6230276821": 3.42}
print( average(gpa) ) # should be 3.145

3.145

In [ ]:
grade = {"6130186221": "A", "6230221221": "A", "6231009821": "B", "6230543921": "C", "6230431521": "B", "6230276821": "A"}

"""
# This code will generate teh key error if the input ID is not in the grader
ID = input()
while ID != "q":
  print(ID, "-->", grade[ ID ])
  ID = input()
"""

ID = input()
while ID != "q":
    if ID in grade:
        print(ID, "-->", grade[ ID ])
    else:
        print("Not found")
    ID = input()

6130186221
6130186221 --> A

KeyboardInterrupt: Interrupted by user

In [ ]:
grade = { } # empty dict
n = int(input())
for k in range(n):
  ID, g = input().split()
  grade[ ID ] = g

print(grade)

In [ ]:
x = ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", \
     "FRIDAY", "SATURDAY", "SUNDAY"]
print(type(x), x)
print(x[0], x[4], x[-1])

In [ ]:
d = {"MO":"MONDAY", "TU":"TUESDAY", "WE":"WEDNESDAY", "TH":"THURSDAY", \
     "FR":"FRIDAY", "SA":"SATURDAY", "SU":"SUNDAY"}
print(type(d), d)
print(d["MO"], d["WE"], d["SU"])

In [ ]:
d = {"MO":"MONDAY", "TU":"TUESDAY", "WE":"WEDNESDAY", "TH":"THURSDAY", \
     "FR":"FRIDAY", "SA":"SATURDAY", "SU":"SUNDAY"}

r = {}

for k, v in d.items():
  r[v] = k

print(r)

{'MONDAY': 'MO', 'TUESDAY': 'TU', 'WEDNESDAY': 'WE', 'THURSDAY': 'TH', 'FRIDAY': 'FR', 'SATURDAY': 'SA', 'SUNDAY': 'SU'}

In [ ]:
d = {"MO":"MONDAY", "TU":"TUESDAY", "WE":"WEDNESDAY", "TH":"THURSDAY", \
     "FR":"FRIDAY", "SA":"SATURDAY", "SU":"SUNDAY"}

In [ ]:
d

In [ ]:
alphabet = {
 'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0,
 'f': 0, 'g': 0, 'h': 0, 'i': 0, 'j': 0,
 'k': 0, 'l': 0, 'm': 0, 'n': 0, 'o': 0,
 'p': 0, 'q': 0, 'r': 0, 's': 0, 't': 0,
 'u': 0, 'v': 0, 'w': 0, 'x': 0, 'y': 0,
 'z': 0
}

inp = input().lower()
sentence = ''.join(char for char in inp if char.isalpha())

for char in sentence:
    alphabet[char] = alphabet[char]+1

counter = []
for char_count in alphabet.items():
    if char_count[1] != 0: counter.append(char_count)



for c in inp:

## creating a dict

dict works like a mapping function from key to its value. <br>
`{ key1:value1, key2:value2, ... }`

keys must be uniqued. Values can be duplicated. <br>

Key can be string, int.  Value can be any data type.

####**Important!!**

Even though, in Python 3.7 the order of the keys stored are the same as when created, but it does not guarantee that this behavior will remain in the future. When we work with `dict`, the order of the keys might be different each time the program is running.  If we need to guarantee the sequence in some order, we have to move the data to a list and sort in the order that we want.

Try
https://www.jdoodle.com/python3-programming-online/ and change Python runtime to 3.5.1 to see this behavior.

In [ ]:
!python --version

Python 3.11.11

In [ ]:
grades = {"1001": "A", "1002": "A",
         "1003": "B", "1004": "C",
         "1005": "B", "1006": "A"}

for k in grades:
  print(k, grades[k])

key can be float, but may have something unexpected due to approximation.

In [ ]:
d = {0.1:'a', 0.2:'b', 0.3:'c', 0.4:'d', 0.5:'3'}
x = 0.1
d[x]

'a'

In [ ]:
x += 0.1
d[x]

'b'

In [ ]:
x += 0.9
d[x]

empty list & empty dict

In [ ]:
empty_list = []
another_empty_list = list()
empty_dict = {}
another_empty_dict = dict()

print(type(empty_list), empty_list)
print(type(another_empty_list), another_empty_list)
print(type(empty_dict), empty_dict)
print(type(another_empty_dict), another_empty_dict)

<class 'list'> []
<class 'list'> []
<class 'dict'> {}
<class 'dict'> {}

### Example: creating a dict
Create a variable named `d236` to be a `dict` that has three key, value pairs which are "TWO", "THREE", and "SIX" for keys and the corresponding values are 2, 3, and 6.

In [ ]:
d236 = { "TWO":2, "THREE":3, "SIX":6}
d236

{'TWO': 2, 'THREE': 3, 'SIX': 6}

d236x = { 2:"two", 3:"three", 6:"six"}
d236x.keys()

### Exercise 8-1

Write a program that reads one line of input as airport code and province name separated by space to create a dict airports = {"BKK":"Bangkok", "DMK":"Bangkok", "HKT":"Phuket", "CNX":"Chiangmai" }

In [ ]:
x = input()
# BKK Bangkok DMK Bangkok HKT Phuket CNX Chiangmai
x = x.split()
print(x)
airports = { x[0]:x[1], x[2]:x[3], x[4]:x[5], x[6]:x[7]}

BKK Bangkok DMK Bangkok HKT Phuket CNX Chiangmai
['BKK', 'Bangkok', 'DMK', 'Bangkok', 'HKT', 'Phuket', 'CNX', 'Chiangmai']

In [ ]:
print(airports)
print(airports['HKT'])

{'BKK': 'Bangkok', 'DMK': 'Bangkok', 'HKT': 'Phuket', 'CNX': 'Chiangmai'}
Phuket

## Access data in dict

We can access data in a dict via its key.  If the key is valid, the value will be returned.  If the key is invalid (not in the dict), there will be an error, "KeyError". <br>

We can only get from key -> value. <br>
There is no value -> key.

In [ ]:
grades = {"6130186221": "A", "6230221221": "A",
          "6231009821": "B", "6230543921": "C",
          "6230431521": "B", "6230276821": "A"}

In [ ]:
# access data in dict via key
grades['6130186221']

'A'

In [ ]:
d = {"MO":"MONDAY", "TU":"TUESDAY", "WE":"WEDNESDAY", "TH":"THURSDAY", \
     "FR":"FRIDAY", "SA":"SATURDAY", "SU":"SUNDAY"}


d

In [ ]:
grades['6230431521']

'B'

In [ ]:
# what happen when key is not in dict
grades['6230276800']

KeyError: '6230276800'

In [ ]:
BLACKPINK = ["Jisoo", "Jennie", "Rosé", "Lisa"]
votes = {} # create empty dict
for name in BLACKPINK:
  votes[name] = 0 # add new key: value into dict
  # {"Jisoo": 0, "Jennie": 0, "Rosé": 0, "Lisa": 0}

name = input()
while name != 'q':
  if name in BLACKPINK:
    votes[name] += 1 # incrementvalue
  name = input()

for name in BLACKPINK:
  print(name, "-->", votes[name]) # get value

In [ ]:
votes = {}

name = input()
while name != "q":
  if name not in votes:
    votes[name] = 1
  else:
    votes[name] = votes[name] + 1 # votes[name] += 1
for k in votes:
  print(k, votes[k])

In [ ]:
alphabets = "abcdefghijklmnopqrstuvwxyzrrssdsdsfdsfsafdasff"



---

In [ ]:
d = { "A": "เอ", "B": "บี" , "C":"ซี" }
r = {}
for k in d:
  r[d[k]] = k
print(r)

In [ ]:
d = { 2:33, 4:55, 9:33, 7:33, 8:55 }

l = []
for k in d:
  if d[k] == 55:
    l.append(k)

print(l)

In [ ]:
alphabets = "abcdefghijklmnopqrstuvwxyzrrssdsdsfdsfsafdasff"

d = {}
for c in alphabets:
  if c not in d:
    d[c] = 1
  else:
    d[c] += 1

for k in d.keys():
  print(k, d[k])

In [ ]:
ID = input()
while ID != "q":
    print(ID, "-->", grades[ID])
    ID = input()

### `if k in dict / if k not in dict`

Before access the dict, you should make sure that the key to be accessed in in the dict.

In [ ]:
grades = {"6130186221": "A", "6230221221": "A",
          "6231009821": "B", "6230543921": "C",
          "6230431521": "B", "6230276821": "A"}

ID = input()
while ID != "q":
    if ID in grades:
        print(ID, "-->", grades[ID])
    else:
        print(ID, " not found")
    ID = input()

6130186221
6130186221 --> A
6230543921
6230543921 --> C
6666666666
6666666666  not found

KeyboardInterrupt: Interrupted by user

### Exercise 8-2

Create a variable named `count_alpha` as a dict that has key as all English alphabets (upper and lower cases), and has all values as 0.

In [ ]:
alphabets = 'abcdefghijklmnopqrstuvwxyz'
print(alphabets)
alphabets += alphabets.upper()
print(alphabets)
count_alpha = {}
for c in alphabets:
    count_alpha[c] = 0
count_alpha

abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

{'a': 0,
 'b': 0,
 'c': 0,
 'd': 0,
 'e': 0,
 'f': 0,
 'g': 0,
 'h': 0,
 'i': 0,
 'j': 0,
 'k': 0,
 'l': 0,
 'm': 0,
 'n': 0,
 'o': 0,
 'p': 0,
 'q': 0,
 'r': 0,
 's': 0,
 't': 0,
 'u': 0,
 'v': 0,
 'w': 0,
 'x': 0,
 'y': 0,
 'z': 0,
 'A': 0,
 'B': 0,
 'C': 0,
 'D': 0,
 'E': 0,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'R': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 0,
 'X': 0,
 'Y': 0,
 'Z': 0}

In [ ]:
digits = '0123456789'
count_digits = {}
for c in digits:
    count_digits[c] = 0
count_digits

### Exercise 8-3

This program has a variable named `student1` stores a student's data.  Write read_data() function that reads keyboard input that has student_id, first-lastname, birthdate, birthmonth, birthyear (separated by comma and space) then store s in a dict that similar to `student1` and return that as function's result.  For example, <br>

**Input**
- 4230000021, Natalie P., 9, 6, 1981

**Result from read_data**
- `{"ID": "4230000021", "Name":"Natalie P.", "Birthdate": [9, 6, 1981]}`

In [ ]:
def read_data():
    x = input().split(", ")
    d = {"ID": x[0],
         "Name": x[1],
         "Birthdate": [int(x[2]), int(x[3]), int(x[4])]}
    return d

student1 = {"ID": "5830000021",
            "Name": "Pranpriya M.",
            "Birthdate": [27, 3, 1997]}
student2 = read_data()
print(student2)

## Add/Update value in dict

When you assign a data to a key, if the key is not in dict, `key:data` will be added to the dict. If the key is already in dict, the data will  replace the original value.

In [ ]:
d = {}
d[2] = 'abc'
d

{2: 'abc'}

In [ ]:
d['x'] = 5
d

{2: 'abc', 'x': 5}

In [ ]:
d[3] = 0
d

{2: 'abc', 'x': 5, 3: 0}

In [ ]:
d[2] = '+++'
d

{2: '+++', 'x': 5, 3: 0}

In [ ]:
grade = { }   # empty dict
n = int(input())
for k in range(n):
  ID, g = input().split()
  grade[ ID ] = g
print(grade)

4
1001 W
1002 A
1002 M
1003 X
{'1001': 'W', '1002': 'M', '1003': 'X'}

### Example: Voting

Have a list of names
Input name votes
```
BLACKPINK = ["Jisoo", "Jennie", "Rosé", "Lisa"]
Lisa Lisa Lisa Lisa Jennie Aum Jisoo Lisa
```
Show vote result

In [ ]:
BLACKPINK = ["Jisoo", "Jennie", "Rosé", "Lisa"]
votes = {}               # create empty dict
for name in BLACKPINK:
  votes[name] = 0      # add new key: value into dict
# {"Jisoo": 0, "Jennie": 0, "Rosé": 0, "Lisa": 0}

votes

{'Jisoo': 0, 'Jennie': 0, 'Rosé': 0, 'Lisa': 0}

In [ ]:
names = input().split()
for name in names:
  if name in BLACKPINK:
    votes[name] += 1  # increment value

votes

Lisa Lisa Lisa Lisa

{'Jisoo': 0, 'Jennie': 1, 'Rosé': 0, 'Lisa': 7}

In [ ]:
for name in BLACKPINK:
  print(name, "-->", votes[name]) # get value

Jisoo --> 0
Jennie --> 1
Rosé --> 0
Lisa --> 7

In [ ]:
for name in BLACKPINK:
    if votes[name] > 4:
        print(name, "-->", votes[name])

Lisa --> 7

### Exercise 8-4

Write a function `add(points, members, extra)` that takes
- a dict,  `points` that stores the data in the formate { member_id:point }
- a list, `members` that stores member ids
- an integer, `extra` as reward points that will be added to dict `points` for each member specified in `members`

This function only updates `points` and will return nothing.

In [ ]:
# points -> { 'X001':200, 'X002':100, 'X003':1000, 'X004': 150}
# members -> ['X001', 'X003']
# extra -> 30
# points should be { 'X001':200+30, 'X002':100, 'X003':1000+30, 'X004': 150}
def add(points, members, extra):
    for member in members:
        if member in points:
            #points[member] = points[member] + extra
            points[member] += extra

x = { 'X001':200, 'X002':100, 'X003':1000, 'X004': 150}
y = ['X001', 'X003', 'X002']
z = 500
print(x)
add(x, y, z)
print(x)

## Access every key in dict

###`for each_key in a_dict`

Note: If this program is running with Python 3.7, the order of keys will be the same as the order of creating but it does not guarantee that this behavior will remain in later version of Python. (Python in Grader also has random order of keys)

In [ ]:
ordinal = {"first": 1, "second": 2, "third": 3,
           "fourth": 4, "fifth": 5, "sixth": 6,
           "seventh": 7, "eighth": 8,
           "ninth": 9, "tenth": 9} #10

for key in ordinal:
  print(key, "-->", ordinal[key] )

first --> 1
second --> 2
third --> 3
fourth --> 4
fifth --> 5
sixth --> 6
seventh --> 7
eighth --> 8
ninth --> 9
tenth --> 9

### `dict.keys(), dict.values(), dict.items()`

In [ ]:
ordinal.keys()

dict_keys(['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'])

In [ ]:
print(ordinal.keys())
print(sorted(ordinal.keys()))
for key in sorted(ordinal.keys()):
    print(ordinal[key])

dict_keys(['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'])
['eighth', 'fifth', 'first', 'fourth', 'ninth', 'second', 'seventh', 'sixth', 'tenth', 'third']
8
5
1
4
9
2
7
6
10
3

In [ ]:
ordinal.values()

dict_values([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [ ]:
ordinal.items()

dict_items([('first', 1), ('second', 2), ('third', 3), ('fourth', 4), ('fifth', 5), ('sixth', 6), ('seventh', 7), ('eighth', 8), ('ninth', 9), ('tenth', 10)])

In [ ]:
# create reverse_ordinal
reverse_ordinal = {}
for key, value in ordinal.items():
    reverse_ordinal[value] = key
reverse_ordinal

{1: 'first',
 2: 'second',
 3: 'third',
 4: 'fourth',
 5: 'fifth',
 6: 'sixth',
 7: 'seventh',
 8: 'eighth',
 9: 'tenth'}

In [ ]:
for key in sorted(reverse_ordinal.keys(), reverse=True):
    print(key, reverse_ordinal[key])

9 tenth
8 eighth
7 seventh
6 sixth
5 fifth
4 fourth
3 third
2 second
1 first

In [ ]:
#sorted([[len(e), e] for e in ordinal])
print(ordinal)

print(sorted([[len(e), e] for e in ordinal], reverse=True))

for [x1, x2] in sorted([[len(e), e] for e in ordinal], reverse=True):
    print(x2, ordinal[x2])

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4, 'fifth': 5, 'sixth': 6, 'seventh': 7, 'eighth': 8, 'ninth': 9, 'tenth': 9}
[[7, 'seventh'], [6, 'second'], [6, 'fourth'], [6, 'eighth'], [5, 'third'], [5, 'tenth'], [5, 'sixth'], [5, 'ninth'], [5, 'first'], [5, 'fifth']]
seventh 7
second 2
fourth 4
eighth 8
third 3
tenth 9
sixth 6
ninth 9
first 1
fifth 5

### Exercise 8-5

Write a function `get_courseIDs(number_of_students, k)` where:
- `number_of_students` is a dict that stores data in format  {course_id: total_student_registered}
- `k` is an integer number

This function returns a list of all course ids that has total number of students registered at least `k` people.  The course ids should be sorted in ascending order.

In [ ]:
def get_courseIDs(number_of_students, k):
    courses = []
    for key in number_of_students :
      if int(number_of_students[key]) >= k :
        courses.append(key)
    return sorted(courses, reverse=False)

d = {"2190101":"55", "2190415":"60", "2190443":"25"}
print(get_courseIDs(d,55))

## Examples

### Is a value in the dict?

In [ ]:
ordinal = {"first": 1, "second": 2, "third": 3,
           "fourth": 4, "fifth": 5, "sixth": 6,
           "seventh": 7, "eighth": 8,
           "ninth": 9, "tenth": 10 }

# is a key in dict?
'third' in ordinal
'forth' in ordinal.keys()

False

In [ ]:
# is 3 in the dict's value?
3 in ordinal

False

In [ ]:
3 in ordinal.values()

True

In [ ]:
12 in ordinal.values()

False

### What are the keys that has value x

In [ ]:
d = {'a':3, 'b':2, 'c':3, 'd':1, 'e':1}
x = 2
result = []
for k in d:
    if d[k] == x:
        result.append(k)
print(result)

['b']

In [ ]:
x = 6
result = []
for k, v in d.items():
    if v == x:
        result.append(k)
print(result)

[]

### Average value in a dict

In [ ]:
def average( d ):   # d is a dict that have values as number
    # sum of all values / number of value
    total = 0
    for k, v in d.items():
        total += v
    return round(total/len(d), 2)

gpa = {"6130186221": 3.15, "6230221221": 2.85,
       "6231009821": 2.90, "6230543921": 3.20,
       "6230431521": 3.35, "6230276821": 3.42,
       "234234": 3.05}

print( average(gpa) ) # should be 3.145
len(gpa)

3.13

7

### Mapping x -> y, y -> x

In [ ]:
d1 = {2:'two', 3:'three', 4:'four'}
d2 = {'two':'2', 'three':'3', 'four':'4'}
x = input()
if int(x) in d1:
    print(d1[int(x)])
elif x in d2:
    print(d2[x])
else:
    print('not found')

2
two

### Show dict result in different order

In [ ]:
d1 = {2:'two', 3:'three', 4:'four'}
d2 = {'two':2, 'three':3, 'four':4}

for k in sorted(d1.keys(), reverse=True):
    print(k, d1[k])

key_len = sorted([[len(e), e] for e in d2.keys()], reverse=True)
key_len

4 four
3 three
2 two

[[5, 'three'], [4, 'four'], [3, 'two']]

### dict access time

In [ ]:
import time
def search_all(X):
  b = time.time()
  n = len(X)
  for i in range(n):
    if i in X:     # True
      pass
  for i in range(n):
    if (n+1) in X: # False
      pass
  print(time.time() - b)

n = 10000
L = []
for i in range(n):
  L.append(i)
D = {}
for i in range(n):
  D[i] = i

search_all(L)
search_all(D)

1.7629616260528564
0.0011508464813232422

## Grader Exercises

### Using doctest() to run test cases

```
'''
>>> function_name(arg1, arg2)
expected_output1
>>> function_name(arg3, arg4)
expected_output2
'''

import doctest
doctest.testmod() # to tess all functions
doctest.run_docstring_examples(function_name, globals()) # to test a specific function
```

`doctest` **does not** work with `input()`.

In [ ]:
def add(x, y):
    '''
    >>> add(2, 3)
    5
    >>> add(-2, 3)
    1
    '''
    return x + y

if __name__ == "__main__":
    import doctest
    #doctest.testmod()  # to test all functions
    doctest.run_docstring_examples(add, globals()) # to test a specific function
print('done')

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/lib/python3.11/doctest.py", line 1523, in run
    sys.settrace(save_trace)

done

### Alphabet count


```
Input:
ABCabcABZ

Output:
a -> 3
b -> 3
c -> 3
z -> 1
```

In [ ]:
def show_dict(d):
    '''
    >>> show_dict(alphabet_count('ABCabcABZ'))
    a -> 3
    b -> 3
    c -> 2
    z -> 1
    '''
    for k, v in d.items():
        print(k, '->', v)

def alphabet_count(s):
    '''
    >>> alphabet_count('ABCabcABZ')
    a -> 3
    b -> 3
    c -> 2
    z -> 1
    '''
    alphabets = "abcdefghijklmnopqrstuvwxyz"
    alphabet_counts = {}
    for c in s.lower():
        if c in alphabets:
            # get something to count
            if c not in alphabet_counts:
                alphabet_counts[c] = 1
            else:
                alphabet_counts[c] += 1

    return alphabet_counts

import doctest
doctest.run_docstring_examples(alphabet_count, globals())
#doctest.run_docstring_examples(show_dict, globals())

**********************************************************************
File "__main__", line 14, in NoName
Failed example:
    alphabet_count('ABCabcABZ')
Expected:
    a -> 3
    b -> 3
    c -> 2
    z -> 1
Got:
    {'a': 3, 'b': 3, 'c': 2, 'z': 1}

### Two functions

In [ ]:
# input:  { "A": "a", "B": "b", "C": "c" }
# result: { "a": "A", "b": "B", "c": "C" }
def reverse(d) : # d is a dict that has unique values
    r = {}

    return r

In [ ]:
# find all keys that has same value, v
# return list of keys that has value equals to v
def keys( d, v ):
    x = []

    return x

### Nickname, Fullname
Write a program that take nickname and display fullname or takes fullname and display nickname using dict

In [ ]:
def find_name(d) : # d is a dict with pairs fullname:nickname
    name = ''
    return name

names = {'Robert':'Dick', 'William':'Bill', 'James':'Jim', 'John':'Jack', \
         'Margaret':'Peggy', 'Edward':'Ed', 'Sarah':'Sally', \
         'Andrew':'Andy', 'Anthony':'Tony', 'Deborah':'Debbie'}

print(find_name('Robert')) # Dick
print(find_name('Dick')) # Robert
print(find_name('Steve')) # Not found
'''
Robert	 ⇔ 	Dick
William	 ⇔ 	Bill
James	 ⇔ 	Jim
John	 ⇔ 	Jack
Margaret	 ⇔ 	Peggy
Edward	 ⇔ 	Ed
Sarah	 ⇔ 	Sally
Andrew	 ⇔ 	Andy
Anthony	 ⇔ 	Tony
Deborah	 ⇔ 	Debbie
'''

'\nRobert\t ⇔ \tDick\nWilliam\t ⇔ \tBill\nJames\t ⇔ \tJim\nJohn\t ⇔ \tJack\nMargaret\t ⇔ \tPeggy\nEdward\t ⇔ \tEd\nSarah\t ⇔ \tSally\nAndrew\t ⇔ \tAndy\nAnthony\t ⇔ \tTony\nDeborah\t ⇔ \tDebbie\n'

### Ice cream sales
```
Input:
- n, number of ice cream types, follows by n lines of
- ice_creame_type item_price

- n_sold, number of item sold, follows by n_sold lines of
- ice_cream_type amount_sold

Output:
Total ice cream sales = ...
```

In [ ]:
# get input and create an ice_cream_price dict {icecream_type:price}

In [ ]:
!python

In [ ]:
t = input()
count = {}
for ch in t:
    ch = ch.lower()
    if ch in alphabets:
        count[ch] += 1

In [ ]:
alphabets = "abcdefghijklmnopqrstuvwxyz"

d = {}

for c in alphabets:
  if c not in d:
    d[c] = 1
  else:
    d[c] += 1

print(d)

{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'f': 1, 'g': 1, 'h': 1, 'i': 1, 'j': 1, 'k': 1, 'l': 1, 'm': 1, 'n': 1, 'o': 1, 'p': 1, 'q': 1, 'r': 1, 's': 1, 't': 1, 'u': 1, 'v': 1, 'w': 1, 'x': 1, 'y': 1, 'z': 1}

In [ ]:
def reverse(d):
  r_d = {}
  for k in d:
    r_d[d[k]] = k
  return r_d

In [ ]:
def keys(d, v):
  l = []
  for k in d:
    if d[k] == v:
      l.append(k)
  return l

In [ ]:
a = [1,2,3,4,5,6,7]

a.reverse()

print(a)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# input
d = {10:33, 5:20, 2:100}



# output
[(20, 5), (33, 10), (100, 2)]

In [ ]:
a = {"0002": 25, "0009": 30, "0003": 45, "0001": 20}

for k, v in a.items():
  print(k, v)

print("--------")
for k, v in sorted(a.items()):
  print(k, v)

print('*********')
for item0, item1 in sorted(a.items(), key=lambda item:(-item[1], item[0])):
  print(item0, item1)

0002 25
0009 30
0003 45
0001 20
--------
0001 20
0002 25
0003 45
0009 30
*********
0001 20
0002 25
0009 30
0003 45

In [ ]:
n = int(input())

ic = {}
for i in range(n):
  name, price = input().strip().split()
  ic[name] = int(price)

total = 0
p = int(input()) # 6
for i in range(p):
  n, a = input().strip().split()
  if n in ic:
    total += ic[n]*int(a)

In [ ]:
al = 'abcdefghijklmnopqrstuvwxyz'

a = input()


d = {}

for c in a:
  if c in al:
    if c not in d:
      d[c] = 1
    else:
      d[c] += 1

In [ ]:
al = 'abcdefghijklmnopqrstuvwxyz'

dp = {}
for c in alpha:
  dp[c] = 0

In [ ]:
def distance1(x1,y1,x2,y2):
  return ((x2-x1)**2+(y2-y1)**2)**0.5

def distance2(p1,p2):
  return ((p2[0]-p1[0])**2+(p2[1]-p1[1])**2)**0.5

def distance3(c1,c2):
  d=((c2[0]-c1[0])**2+(c2[1]-c1[1])**2)**0.5
  dr=c1[2]**2+c2[2]**2
  if d==dr:
    return d,False
  return d,True

def perimeter(points):
  s=0
  i=0
  while i<(len(points)):
    d=((points[(i+1)%len(points)][0]-points[i][0])**2+(points[(i+1)%len(points)][1]-points[i][1])**2)**0.5
    s=s+d
    i+=1
  return s

exec(input().split())

SyntaxError: invalid non-printable character U+00A0 (<ipython-input-4-12f6f8ea43af>, line 8)